
DirectoryIndex client/index.php?page=accueil

Options +FollowSymlinks
RewriteEngine on

RewriteRule ^page-([-a-z]+)\.html$ client/index.php?page=$1 [QSA,L]
RewriteRule ^admin-([-a-z]+)\.html$ admin/index.php?page=$1 [QSA,L]