@CHARSET "UTF-8";

html {
	margin:0px;
	padding:0px;
	height:100%;
	width:100%;
}

body {
	height:100%;
	width:100%;
	margin:0px;
	padding:0px;
	background:rgb(91,152,175);
}

#main_container {
	width:90%;
	margin: 0 auto 0 auto ;
	height: 100%;
	background-color:white;
}

/*---------------------------------------------------------------*/

#banner {
	margin-top:0px;
	background:url("images/backgroundbanner.png") repeat-x;
	height:110px;
}

#banner h1 {
	display:none;
}


/*---------------------------------------------------------------*/


#connected {
	font-size: 0.7em;
	margin:0px;
}


/*---------------------------------------------------------------*/

nav {
	text-align: center;
}
nav ul{
	list-style-type:none;
	padding-left:4%;
	padding-right:4%;
}

/*---------------------------------------------------------------*/

aside {
	border:solid black 1px;
	margin-left:5%;
	margin-right:5%;
	padding-left:4%;
	padding-right:4%;
}

aside p {
	text-align: justify;
}


/*---------------------------------------------------------------*/

footer {
	text-align: center;
}