
#main_container,footer {
	max-width:none;
	width:80%;
}


/*--------------------------------[Liste des produits]--------------------------------*/
.cadre_produit_actif , .cadre_produit_inactif {
	border:solid black 1px;
	text-align: left;
	clear:both;
	padding:10px;
	margin:20px;
}

.cadre_produit_actif img , .cadre_produit_inactif  img {
	float:left;
}

.cadre_produit_actif form , .cadre_produit_inactif  form {
	float:right;
}

.cadre_produit_actif {
	background: rgb(200,255,200);
}

.cadre_produit_inactif {
	background: rgb(255,200,200);
}



.liste_prods {
	list-style-type: none;
	list-style-position: outside;
	padding:0px;
	margin:0px;
}

.liste_prods  + * {
	clear:both;
}

/*--------------------------------[Accueil]--------------------------------*/

nav li {
	text-align: center;
	clear:left;
	font-size: 1.5em;
	margin-top:10px;
}
